{% include "admin/layout/top.html" %} {% block content%} {% endblock %}

<div class="clearfix"></div>
<div class="row" >
    <div class="col-md-8 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Data Wisata</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama</th>
                                        <th> Kategori</th>
                                        <th>Alamat</th>
                                        <th>Deskripsi</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                    {% for d in data.wisata %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{ d[1] }}</td>
                                        <td>{{ d[5] }}</td>
                                        <td>{{ d[2] }}, {{ d[3] }}</td>
                                        <td>{{ d[4][0:100] }} ...</td>
                                        <td>{{ d[12] }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-warning btn_ubah" data-toggle="modal" value="{{ d[0] }}" title="Edit" onclick="getWisata(this)">
                                                    <i class="fa fa-fw fa-pencil"></i>
                                                </button>
                                                <a href="/admin/wisata/delete/{{d[0]}}" data-toggle="modal" data-target="#my-modal" class="btn btn-sm btn-icon btn-rounded btn-danger delete_btn_member" title="Delete">
                                                    <i class="fa fa-fw fa-times"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Wisata</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"> 
                <form id="myForm" data-parsley-validate action="/admin/wisata/all" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id_hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-form-label" for="nama">Nama</label>
                                <input type="text" id="nama" class="form-control" name="nama">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="kecamatan">Kecamatan</label>
                                <select class="form-control select2" name="kecamatan" data-placeholder="Choose one.." id="kecamatan">
                                    <option value=""></option>
                                    {% for d in data.kecamatan %}
                                        <option value="{{ d[0] }}">{{ d[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="kelurahan">Kelurahan</label>
                                <select class="form-control select2" name="kelurahan" data-placeholder="Choose one.." id="kelurahan">
                                    <option value=""></option>
                                    {% for d in data.kelurahan %}
                                        <option value="{{ d[0] }}">{{ d[2] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-form-label" for="foto">Foto</label>
                                <input type="file" class="dropify" name="foto">
                            </div>
                        </div>  
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-form-label" for="deskripsi">Deskripsi</label>
                                <textarea class="form-control" name="deskripsi" id="deskripsi" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
        
                    <br />
                    <button type="submit" class="btn btn-success btn-simpan">SIMPAN</button>
                    <button type="submit" class="btn btn-warning btn-update d-none">UPDATE</button>
                    <button type="button" class="btn btn-secondary btn-batal d-none">BATAL</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% include "admin/layout/bottom.html" %} 