<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Virasschool</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/frontend/img/favicon.png" rel="icon">
  <link href="/static/frontend/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/frontend/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/frontend/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/frontend/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/frontend/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/frontend/css/landingpage.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#hero"><span>Virasschool</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/frontend//img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#kompetensi">Kompetensi</a></li>
          <li><a class="nav-link scrollto" href="#counts">Total</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Rekomendasi</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Testimoni</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Virasschool (Virtual Assistant Educational Institution in Tegal) - <span>Virasschool</span></h1>
            <h2>Cari informasi lembaga pendidikan terkait di kota Tegal dengan Virasschool.</h2>
            <div class="text-center text-lg-start">
              <a href="/bot" class="btn-get-started scrollto">Mulai Chat</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="static/frontend/img/4430342.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=oy8yFPAados" rel="nofollow" target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Tujuan Virasschool</h3>
            <p> Tujuan dari website ini adalah untuk mempermudah masyarakat dan calon
              siswa khususnya yang ada di sekitar wilayah Kota Tegal untuk mendapatkan
              informasi umum seputar lembaga pendidikan yang ada melalui sebuah website
              yang dilengkapi dengan chatbot</p>

            <h4 class="title"><a href="">Manfaat Virasschool</a></h4>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <p class="description">Mendapatkan informasi terkait
                lembaga pendidikan yang diinginkan lebih mudah</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <p class="description">Mengurangi interaksi langsung di masa pandemi.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <p class="description">Sarana promosi Lembaga Pendidikan yang ada di Kota Tegal.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="kompetensi" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <p>Apa yang ada di Virasschool</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Alamat</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Kontak</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Akreditasi</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Status</a></h3>
            </div>
          </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <p>Total Sekolah di Kota Tegal</p>
        </div>
        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="135" data-purecounter-duration="1" class="purecounter"></span>
              <p>SD</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
              <p>SMP</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="purecounter"></span>
              <p>SMA</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1" class="purecounter"></span>
              <p>SMK</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Sekolah Rekomendasi</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="static/frontend/img/gallery/MKK1.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/MKK1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="static/frontend//img/gallery/MKK8.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/MKK8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="static/frontend//img/gallery/smp2.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/smp2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
              <a href="static/frontend//img/gallery/smansa.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/smansa.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
              <a href="static/frontend//img/gallery/smapat.JPG" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/smapat.JPG" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
              <a href="static/frontend//img/gallery/SMKN 3 TEGAL.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/SMKN 3 TEGAL.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
              <a href="static/frontend//img/gallery/smk1.jpg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/smk1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="static/frontend//img/gallery/smp7.jpeg" class="gallery-lightbox">
                <img src="static/frontend//img/gallery/smp7.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/frontend//img/testimoni/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Andhika</h3>
                <h4>Manager Bank Btpn</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Informasi cukup membantu untuk saya yang sedang mencari sekolah terbaik untuk anak saya!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/frontend//img/testimoni/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Ani Harwati</h3>
                <h4>Ibu Rumah Tangga</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Saya merasa terbantu oleh virasschool karna untuk mencari informasi sekolah untuk anak secara langsung sedang tidak memungkinkan sebab kondisi pandemi.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/frontend//img/testimoni/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Giarni</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Saya memerlukan informasi untuk pendidikan anak saya disela kesibukan saya sebagai ibu karir. viraschool sangat membantu.                   <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/frontend//img/testimoni/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Wirhanto PS</h3>
                <h4>Supervisor Astrinusa</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Saya bekerja di luar kota. saya bisa mendapatkan informasi sekolah untuk anak saya yang berada di kota tegal, terimakasih sudah membantu!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>F.A.Q</h2>
              <p>Frequently Asked Questions</p>
            </div>
    
            <div class="faq-list">
              <ul>
                <li data-aos="fade-up">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Apa itu Virasschool <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                    <p>
                      Virasschool (Virtual Assisten Educational Institution in Tegal) adalah asisten virtual untuk mencari informasi lembaga pendidikan khususnya untuk jenjang pendidikan SD, SMP, dan SMA/SMK yang ingin diketahui oleh masyarakat, serta calon siswa yang akan mendaftarkan diri ke lembaga pendidikan terkait yang ada di Kota Tegal
                    </p>
                  </div>
                </li>
    
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Manfaat Virasschool? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Mempermudah masyarakat dan calon siswa khususnya yang ada di sekitar wilayah Kota Tegal untuk mendapatkan informasi umum seputar lembaga pendidikan yang ada melalui sebuah website yang dilengkapi dengan chatbot
                    </p>
                  </div>
                </li>
    
                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Siapa target pengguna Virasschool? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Masyarakat dan calon siswa lembaga pendidikan di Kota Tegal.
                    </p>
                  </div>
                </li>
    
              </ul>
            </div>
    
          </div>
        </section><!-- End F.A.Q Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Sheup</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/frontend/vendor/purecounter/purecounter.js"></script>
  <script src="../static/frontend/vendor/aos/aos.js"></script>
  <script src="../static/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/frontend/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/frontend/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/frontend/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/frontend/js/landingpage.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      if (document.getElementById('team').dataset.scroll == 1){
        window.scrollTo({
          top: document.getElementById('team').offsetTop,
          behavior: 'smooth'
        });
      }
      if(document.getElementById('detail').classList.contains("show")){
        window.scrollTo({
          top: document.getElementById('detail').offsetTop,
          behavior: 'smooth'
        });
      }
      document.getElementById('cari').addEventListener('click', function(){
        document.location.href = '/cari/'+document.getElementById('inputcari').value;
      })
    });

  </script>

</body>

</html>